html {
  scroll-behavior: smooth;
}

.active-nav {
  border-bottom: 2px solid #7094f8;
  color: #7094f8;
}

.zoom-inner {
  animation: zoomInOut 10s ease-in-out infinite;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}